In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('out.csv')

In [5]:
df.iloc[:, :4]

              0         1         2  3
0      0.065833  0.068735  0.068735  0
1      0.851061  0.858540  0.858540  0
2      0.880722  0.851853  0.851853  1
3      0.972317  0.957149  0.957149  1
4      0.141019  0.093471  0.093471  0
...         ...       ...       ... ..
99995  0.741408  0.708357  0.708357  1
99996  0.784074  0.776031  0.776031  1
99997  0.407947  0.357633  0.357633  1
99998  0.929609  0.873906  0.873906  1
99999  0.011930  0.007284  0.007284  0

[100000 rows x 4 columns]